@charset "UTF-8";
/* Body */
body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    background-color: #F5F5F5;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-style: normal;
    font-weight: 200;
    min-width: 1200px;
}
/* Container */
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: #FFFFFF;
}
h-line {
    width: 3%;
    height: 6px;
    background-color: #FFE7C0;
    display: flex;
    margin-left: 48.5%;
}

/* Navigation */
header {
    height: 8%;
    background-color: #141414;
    border-bottom: 1px solid #2C9AB7;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #D6D6D6;
    transition: all 0.8s linear;
}


.logo {
    font-weight: bold;
    text-align: left;
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    letter-spacing: 4px;
}
#topbar.scrolled {
    background-color: #3A3A3A !important;
    /* [disabled]opacity: 0.9; */
}


nav {
    float: right;
    width: 50%;
    text-align: right;
    /* [disabled]margin-right: 25px; */
}
.hero.utra {
    background-image: url("../images/TB%20(UTRA).JPG");
    background-repeat: no-repeat;
    background-position: center -124px;
}

ul   {
    list-style: none;
    float: right;
    width: 25%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
ul li  {
    float: left;
    font-size: 14px;
    text-align: right;
    margin-right: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.5s linear;
    display: inline-block;
}
ul li a {
    text-decoration: none;
}
ul li:hover a {
    color: #FFE7C0;
}
.header {
    color: #FFFFFF;
    text-align: center;
    margin-top: 41px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    letter-spacing: 4px;
    font-size: 40px;
    height: auto;
    z-index: 2;
    position: relative;
    background-size: auto auto;
}
/* Hero Section */
.hero {
    padding-top: 300px;
    /* [disabled]padding-bottom: 150px; */
    background-attachment: fixed;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-content: center;
    /* [disabled]animation: bgScroll 30s linear infinite; */
    /* [disabled]position: relative; */
    z-index: 10;
    overflow: hidden;
    background-size: 2000px auto;
}
.hero.main {
    background-image: url(../images/Banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container .hero div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.bk_parallax {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    top: 0;
    left: 0;
    transform: translateY(0);
    transition: transform 0.01s linear;
    -o-object-position: center;
}

/*
@keyframes bgScroll {
    0% { background-position: center top; }
100% { background-position: center 20%; } 
}
*/

section {
    padding-top: 35px;
    z-index: -100;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
}


.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
    text-align: center;
    color: #FFE7C0;
    margin-top: 4px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 2;
    position: relative;
    display: block;
}
p {
    color: #FEC05D;
    z-index: 3;

}
.about {
    /* [disabled]padding-left: 25px; */
    /* [disabled]padding-right: 25px; */
    /* [disabled]padding-top: 35px; */
    display: flex;
    background-color: #F5F5F5;
    flex-direction: row;
    /* [disabled]justify-content: center; */
    height: 200px;
    column-gap: 10px;
    align-items: flex-start;
    /* [disabled]padding-bottom: 15px; */
}
.text_column {
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    margin: 0;
    height: 80%;
    width: 30%;
    padding-top: 0px;
}

about_text {
    display: flex;
    width: auto;
}

/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
    clear: both;
    background-color: #D6D6D6;
    margin-top: -5px;
    margin-bottom: 0px;
    flex-direction: column;
    /* [disabled]position: relative; */
}
projects {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;

}


.container .gallery div.title  {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* Parallax Section */
.banner {
	background-color: #2D9AB7;
	background-image: url(../images/parallax.png);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #717070;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
    font-size: 9px;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
    display: none;
}
.container #about div {
    width: 20%;
    align-self: flex-start;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;


}
line {
    width: 6px;
    height: 100px;
    background-color: #FFE7C0;
    margin-left: 8px;
}
entry img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.5s ease;
    z-index: 1;
    filter: blur(0.5px);
    /* [disabled]position: absolute; */
}
entry:hover img {
    transform: scale(1.05);
    filter: none;
    -o-object-fit: cover;
}

.style1 {
    width: 600px;
    height: 400px;
    display: flex;
    margin: 20px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
entry a {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

.overlay1  {
    position: absolute;
    background-color: #FFE7C0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    opacity: 0.3;
    z-index: 2;
    pointer-events: none;
    display: block;
}
entry:hover overlay {
    opacity: 0;
    transform: scale(1.05);
    padding-left: 0px;
	pointer-events: none
}
entry:hover p.subtitle_dark {
    color: #F5F5F5;
    transition: all 0.3s ease;
}










/* Mobile */
@media (max-width: 320px) {
.logo {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}


.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
.topbar {
    background-color: #BC8A8B;

}
#topbar {
}
.subtitle   {
    color: #D6D6D6;
    letter-spacing: 2px;
    font-weight: 500;
    height: auto;
    font-size: 24px;
    min-width: 0px;
}
h4 {
    padding-left: 50px;
}

.norm_text {
    font-weight: 400;
    color: #727272;
    overflow: hidden;
}
projects .style1 .norm_text {
    margin: 0;
    text-align: center;
    width: 60%;
    display: block;
    max-height: 0px;
}
entry:hover p.norm_text {
    display: block;
    transition: all 1s ease;
    color: #FFE7C0;
    max-height: 100px;
}



.no {
}
projects .style1 .subtitle_dark {
    margin: 0;
}

h2 {
    display: block;

}
h3 {
    display: flex;
    text-align: right;
    height: 80%;
    width: 120px;
    /* [disabled]justify-content: flex-end; */
}
.subtitle_dark {
    color: #14213D;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 24px;
}
h5 {
    width: 100%;
    height: 24px;
    display: block;
    margin: 0;
    text-align: center;

}

.norm {
}
